*.swp
.cipd
.gclient_entries
.gclient_previous_sync_commits
doc/.jekyll-cache
doc/_site
libraries/angle
libraries/depot_tools
libraries/glfw
libraries/gn
libraries/libuv
libraries/ninja
libraries/skia
libraries/v8
tags
out*
node_modules
package-lock.json
tests/data/*__test_output.png
