:root {
    --dark: #023047;
    --blue: #007ab8;
    --light: #8ecae6;
    --lighter: #f6f8fa;
    --yellow: #FFB703;
    --orange: #fb8500;
    --red: #e63946;
    --magenta: #eb005a;
    --grey: #393a34;
    --black: #212529;
}

body {
    margin-top: 100px;
}

h1, h2 {
    color: var(--magenta);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a.active, a:hover {
    color: var(--magenta);
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 1px;
    border: none;
    background: -webkit-linear-gradient(left, var(--blue), var(--lighter));
}

code {
    color: var(--black);
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
}

pre.highlight {
    border-radius: 5px;
    margin: 16px;
    background-color: var(--lighter);
    color: var(--grey);
    padding: 8px;
}

span.s1, span.s2 {
    color: var(--blue);
}

span.mi {
    color: var(--orange);
}

span.kd {
    color: var(--magenta);
}

.row {
    margin-bottom: 25px;
}

.navbar {
    background-color: var(--dark);
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 100;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: var(--magenta);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--magenta);
}

.github-icon img {
    filter: invert(12%) sepia(96%) saturate(6517%) hue-rotate(331deg) brightness(91%) contrast(103%);
    width: 40px;
}

.side-nav {
    margin-top: 100px;
    margin-left: 3.5rem;
    z-index: 50;
}

.bottom-nav {
    display: block;
    padding: 0.5rem;
}

.btn-secondary {
    background-color: var(--lighter);
    color: var(--dark);
}

p .title {
    font-size: 1.8rem;
}

p .title .magenta strong {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: var(--magenta);
}

dl {
    background-color: var(--lighter);
}

.api {
    margin-top: 64px;
    font-family: monospace;
    font-size: var(--normal4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.api-left {
    font-weight: bold;
}

.api-right {
    text-align: right;
    margin-left: 8px;
    font-size: var(--normal);
    max-width: 360px;
}

#content table.parameters {
    padding-left: 16px;
    padding-right: 16px;
    border-spacing: 2px;
    width: 100%;
    color: #393a34;
}

#content table.parameters td {
    padding: 8px;
    background-color: var(--lighter);
    vertical-align: top;
}

#content table.parameters td:first-child {
    color: var(--blue);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 12px;
}

#content table.parameters td:nth-child(2) {
    color: var(--red);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 12px;
}

#content table.strings {
    padding-left: 16px;
    padding-right: 16px;
    border-spacing: 2px;
    width: 100%;
    color: #393a34;
    font-size: 12px;
}

#content table.strings td {
    padding: 8px;
    background-color: var(--lighter);
    vertical-align: top;
}

#content table.strings td:first-child {
    color: var(--blue);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#content table.matrix {
    padding-left: 16px;
    padding-right: 16px;
    border-spacing: 2px;
}

#content table.matrix td {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--blue);
    background-color: var(--lighter);
}

td {
    border-color: white;
    border-width: 2px;
}

.code-object {
    color: var(--dark);
    font-size: 13px;
}

.code-class {
    color: var(--red);
    font-size: 13px;
}

.code-name {
    color: var(--blue);
    font-size: 13px;
}

.code-event {
    color: var(--magenta);
}

.code-type {
    color: #a0a0a0;
    font-size: 14px;
}

.code-object:hover, .code-class:hover, .code-name:hover, .code-event:hover, .code-type:hover {
    color: var(--magenta);
}

.tag {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 6px;
    font-size: var(--normal-2);
}

.tag.extension {
    color: white;
    background-color: var(--red);
}