:root {
    --red: #eb005a;
    --blue: #007ab8;
    --orange: #fb8500;
    --navy: #023047;
    --grey: #393a34;
    --lightgrey: #f6f8fa;
    --black: #212529;
}

body {
    margin-top: 100px;
}

h1, h2 {
    color: var(--red);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a.active, a:hover {
    color: var(--red);
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 1px;
    border: none;
    background: -webkit-linear-gradient(left, var(--black), var(--lightgrey));
}

code {
    color: var(--black);
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
}

pre.highlight {
    border-radius: 5px;
    margin: 16px;
    background-color: var(--lightgrey);
    color: var(--grey);
    padding: 8px;
}

span.s1, span.s2 {
    color: var(--blue);
}

span.mi {
    color: var(--orange);
}

span.kd {
    color: var(--red);
}

.row {
    margin-bottom: 25px;
}

.navbar {
    background-color: var(--navy);
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 100;
}

.navbar-dark .navbar-brand, 
.navbar-dark .navbar-brand:hover {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: var(--red);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--red);
}

.github-icon img {
    filter: invert(12%) sepia(96%) saturate(6517%) hue-rotate(331deg) brightness(91%) contrast(103%);
    width: 40px;
}

.side-nav {
    margin-top: 100px;
    margin-left: 3.5rem;
    z-index: 50;
}

.bottom-nav {
    display: block;
    padding: 0.5rem;
}

.btn-secondary {
    background-color: var(--lightgrey);
    color: var(--navy);
}

p .title {
    font-size: 1.8rem;
}

p .title .magenta strong {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: var(--red);
}

dl {
    background-color: var(--lightgrey);
}

.api {
    margin-top: 64px;
    font-family: monospace;
    font-size: var(--normal4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    
.api-left {
    font-weight: bold;
}
    
.api-right {
    text-align: right;
    margin-left: 8px;
    font-size: var(--normal);
    max-width: 360px;
}